
body{
	margin: 0 auto;
	display: block;
	width: 100vw;
	max-width: 100%;
	text-align: center;
	overflow-x: hidden;
	background-color:#ffffff;
	font-family:Noto Sans KR;
}

div{
	width: 100vw;
}

a:link{
	text-decoration:none;
	color:grey;
}



.img{
	width: 100%;
}


#btn{

	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
}

.btn_img{
	width: 100vw;
}


.footertext{
	font-family:"Noto Sans KR",'Apple SD Gothic',san-serif;
	font-size:0.7rem;
	line-height:1.5rem;
	color: grey;
	margin-top:3rem;
	margin-bottom:3rem;
}

.make_button{
	position: fixed;
	bottom: 0;
	left:0;
	width: 100vw;
}




@media (min-width: 1000px) {

	body{
		max-width: 425px;
	}

	div{
		max-width: 425px;
	}

	#btn{
		max-width: 425px;
	}

	.btn_img{
		max-width: 425px;
	}
}
